<div class="row mb-2">
  <div class="col-4">
    <div class="card">
      <img
        src="{{ member.photoUrl || './assets/user.png' }}"
        alt="{{ member.knownAs }}"
        class="card-img p-2 rounded"
      />
      <div class="card-body">
        @if (presenceService.onlineUsers().includes(member.username)) {
        <div class="mb-1">
          <i class="fa fa-user-circle" style=" color: rgb(1, 189, 42); font-size: 20px;"></i> Online now
        </div>
        }
        <div>
          <strong>Location:</strong>
          <p>{{ member.city }} | {{ member.country }}</p>
        </div>
        <div>
          <strong>Age:</strong>
          <p>{{ member.age }}</p>
        </div>
        <div>
          <strong>Last Active:</strong>
          <p>{{ member.lastActive | timeago }}</p>
        </div>
        <div>
          <strong>Member since:</strong>
          <p>{{ member.created | date : "dd MMM yyyy" }}</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary">Like</button>
          <button (click)="selectTab('Messages')" class="btn btn-success">
            Message
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8">
    <tabset class="member-tabset" #memberTabs>
      <tab
        heading="About {{ member.knownAs }}"
        (selectTab)="onTabActivated($event)"
      >
        <div class="mt-2">
          <h4>Description</h4>
          <p>{{ member.introduction }}</p>
          <h4>Looking for</h4>
          <p>{{ member.lookingFor }}</p>
        </div>
      </tab>
      <tab heading="Interests" (selectTab)="onTabActivated($event)">
        <div class="mt-2">
          <h4>Interests</h4>
          <p>{{ member.interests }}</p>
        </div>
      </tab>
      <tab
        heading="Photos"
        #photoTab="tab"
        (selectTab)="onTabActivated($event)"
      >
        <div class="mt-2">
          @if (photoTab.active) {
          <gallery
            [items]="images"
            [itemAutosize]="true"
            class="gallery"
          ></gallery>
          }
        </div>
      </tab>
      <tab heading="Messages" (selectTab)="onTabActivated($event)">
        <div class="mt-2">
          <app-member-messages
            [username]="member.username"
          ></app-member-messages>
        </div>
      </tab>
    </tabset>
  </div>
</div>
