<div class="row">
  <div class="text-center mt-3">
    <h2>
      You have
      {{ memberService.paginatedResult()?.pagination?.totalItems }} matches
    </h2>
  </div>
  <div class="container mt-3">
    <form #form="ngForm" class="d-flex mb-3" (ngSubmit)="loadMembers()">
      <div class="d-flex mx-1">
        <label class="col-form-label me-1"><h5>Age from</h5></label>
        <input
          type="number"
          class="form-control"
          style="width: 60px; height: 60px; padding: 10px"
          name="minAge"
          [(ngModel)]="memberService.userParams().minAge"
        />
      </div>
      <div class="d-flex mx-1">
        <label class="col-form-label me-1"><h5>Age to</h5></label>
        <input
          type="number"
          class="form-control"
          style="width: 60px; height: 60px; padding: 10px"
          name="maxAge"
          [(ngModel)]="memberService.userParams().maxAge"
        />
      </div>
      <div class="d-flex mx-1">
        <label class="col-form-label me-1"><h5>Show</h5></label>
        <select
          name="gender"
          style="width: 120px; height: 60px; padding: 10px"
          class="form-select ms-1"
          [(ngModel)]="memberService.userParams().gender"
        >
          @for (gender of genderList; track gender.value) {
          <option [value]="gender.value">
            {{ gender.display }}
          </option>
          }
        </select>
      </div>
      <button
        class="btn btn-primary mx-1"
        style="width: 120px; height: 60px; padding: 10px"
        type="submit"
      >
        Apply filters
      </button>
      <button
        (click)="resetFilters()"
        class="btn btn-info mx-1"
        style="width: 120px; height: 60px; padding: 10px"
        type="button"
      >
        Reset filters
      </button>
      <div class="col">
        <div class="btn-group float-end">
          <button
            type="button"
            class="btn btn-primary"
            style="width: 120px; height: 60px; padding: 10px"
            name="orderBy"
            (click)="loadMembers()"
            btnRadio="lastActive"
            [(ngModel)]="memberService.userParams().orderBy"
          >
            Last Active
          </button>
          <button
            type="button"
            class="btn btn-primary"            
            name="orderBy"
            (click)="loadMembers()"
            btnRadio="created"
            [(ngModel)]="memberService.userParams().orderBy"
          >
            Newest Members
          </button>
        </div>
      </div>
    </form>
  </div>

  @for (member of memberService.paginatedResult()?.items; track member.id) {
  <div class="col-2">
    <app-member-card [member]="member"></app-member-card>
  </div>
  }
</div>

@if (memberService.paginatedResult()?.pagination) {
<div class="d-flex justify-content-center">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="(memberService.paginatedResult()?.pagination)!.totalItems"
    [itemsPerPage]="(memberService.paginatedResult()?.pagination)!.itemsPerPage"
    [(ngModel)]="memberService.paginatedResult()?.pagination!.currentPage"
    (pageChanged)="pageChanged($event)"
    [maxSize]="10"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  ></pagination>
</div>
}
